
<nav class="navbar navbar-expand-lg fixed-top py-4">
  <div class="container">
          <a class="nav-link" href="#"><h1>SelfieLessActs <span style = "font-size: 15px;color: white"> = No Selfie Only Acts!!!</span></h1></a>
    </div>
</nav>
<header class="header">
  <div class="overlay"></div>
  <!-- <div class="desc">
  <h1>Coming Soon Stay Tuned...</h1>
  </div> -->
  
  <div class="message">
    Sorry, your browser does not support CSS Grid. 😅
  </div>
  <section class="section">
    <h1>Dashboard</h1>
    <div class="grid" style="padding-top: 5%">
       
      <div class="item item--medium" style="background-image: url('../../assets/images/viewFeed.jpg');">
        <a  routerLink="/display">
        <div class="item__details">
          View Acts
        </div>
        </a>
      </div>
      <div class="item item--medium">
        <div class="item__details">
          Your Acts
        </div>
      </div>
      <div class="item item--medium" style="background-image: url('../../assets/images/uploadFeed.jpg');">
        <div class="item__details">
          Upload Acts
          <!-- <input type="file" onchange="previewFile()"><br>
          <img src="" height="200" alt="Image preview..."> -->
        </div>
      </div>
    </div>
</section>

</header>
